@import "materialize";
$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

h1 {
	position: relative;
  font-size: 18pt;
	padding: .5em .75em;
	background-color: $primary-color;
	color: white;
	@extend .z-depth-1;
}

h2 {
  font-size: 15pt;
  position: relative;
	padding: 0 .4em .1em;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
	  z-index: -1;
	  content: '';
	  width: 100%;
	  height: 10px;
    background-color: $primary-color-light;
  }
}

.linkcard {
	@extend .card;
	background-color: $primary-color;
}

nav {
	background-color: $primary-color-dark;
	font-size: 18pt;
}

dl {
	border:{
		bottom: 1px solid #ccc;
		left:1px solid #ccc;
		right:1px solid #ccc;
	}
	background-color: $primary-color-light;
  margin:{
		top: 10px;
		bottom: 10px;
	}
	@extend .z-depth-1;
}

dt {
	float:left;
  clear: left;
  width:150px;
  font-weight:bold;
  background-color: $primary-color-light;
  border-top:1px solid #ccc;
  padding:5px;
}

dd {
	background-color:#ffffff;
  border-top:1px solid #ccc;
  margin-left:160px;
  padding:5px;
	a {
		color: black;
		&:hover {
			border-bottom: 2px solid $accent-color;
		}
	}
}

ul.plain-list li {
	list-style: {
		type: circle;
		position: inside;
	}
}

strong.plain-strong {
	font-weight: bold;
}
